h1 {
  text-align: center;
}
.person{
  display: inline-block;
  vertical-align: top;
  width: 33%;
  border: 3px solid black;
  background-color: rgb(122, 129, 176);
  color:white;
  border-radius:5px;
}
.person h4 {
  text-align: center;
}
