<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chatroom</title>
    <link rel="stylesheet" href="styles.css">
    <script src="/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="/socket.io/socket.io.js" type="text/javascript"></script>
    <script type="text/javascript">

    $(document).ready(function(){
      var socket = io.connect();
      // var name = prompt("Name PLZ");
      socket.emit("got_new_user", {name:name});
      socket.on("show_messages", function(data){
        for (var i = 0; i < data.messages.length; i++){
          $("#name").append("<p class='bold'>" + data.messages[i].name  + ":</p>")
          $("#messages").append("<p>" + data.messages[i].message + "</p>")
        }
      });
      socket.on("new_user", function(data){
        $("#name").append("<p></p>")
        $("#messages").append("<p>" + data.name + " joined the board</p>");
      });
      socket.on("user_disconnect", function(data){
        $("#name").append("<p></p>")
        $("#messages").append("<p>" + data.name + " left the board</p>");
      });
      $("#send").click(function(){
        socket.emit("got_new_message", {message: $("#message").val()});
      });
      socket.on("new_message", function(data){
        $("#name").append("<p class='bold'>" + data.message.name  + ":</p>");
        $("#messages").append("<p>" + data.message.message + "</p>")
      })
      $(document).scrollTop($(document).height() + 500);
    });

    </script>
  </head>
  <body>
    <h1>PACKMAN</h1>
    <div id="main">
      <div id="container">
        <div id="world"></div>
        <div id="pacman"></div>
        <div id="ghost"></div>
        <div id="scores"><p>You:</p><div id="score">0</div></div>
      </div>
    </div>
    <div id="board"><div id="name"></div><div id="messages">

    </div></div>
    <textarea id="message" type="text" name="message"></textarea>
    <button id="send" type="button" name="button">Send</button>

    <script>

    var world = [
      [2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2],
      [2,0,1,2,1,2,1,1,1,2,1,2,2,1,2,1,1,2,1,1,2,1,2,1,2,1,2,1,2],
      [2,1,1,2,1,1,1,1,1,1,1,1,1,1,2,1,1,1,1,1,1,1,1,1,2,1,2,1,2],
      [2,1,1,2,1,1,2,2,1,2,2,1,1,1,2,2,1,1,2,2,1,2,2,1,2,1,2,1,2],
      [2,1,1,2,1,1,2,1,1,1,2,1,1,1,1,1,1,1,2,1,1,1,2,1,2,1,2,1,2],
      [2,1,1,2,2,1,1,1,2,1,1,1,1,1,1,1,1,1,1,1,2,1,1,1,1,1,2,1,2],
      [2,1,1,1,2,1,2,1,1,1,2,1,2,1,1,1,2,1,2,1,1,1,2,1,1,2,2,1,2],
      [2,1,1,1,1,1,2,2,1,2,2,1,2,1,1,1,2,1,2,2,1,2,2,1,1,2,1,1,2],
      [2,1,1,1,1,1,1,1,1,1,1,1,2,1,1,1,2,1,1,1,1,1,1,1,1,1,1,1,2],
      [2,1,1,1,1,1,1,1,1,1,1,1,2,1,1,1,2,1,1,1,1,1,1,1,1,1,1,1,2],
      [2,1,1,1,1,1,2,2,2,1,1,1,2,2,2,2,2,1,1,1,2,2,2,1,1,1,1,1,2],
      [2,1,1,1,1,1,1,1,1,2,2,1,1,1,1,1,1,1,2,2,1,1,1,1,1,1,1,1,2],
      [2,1,1,1,1,1,2,2,1,1,1,2,2,2,2,2,2,2,1,1,1,2,2,1,1,1,1,1,2],
      [2,1,1,1,1,1,1,1,2,2,1,1,1,1,1,1,1,1,1,2,2,1,1,1,1,1,1,1,2],
      [2,1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,2,1,1,1,1,1,1,1,1,1,2],
      [2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2],
      [2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2]
    ];

    var pacman = {
      x: 1,
      y: 1
    };

    var ghost = {
      x: 1,
      y: 1,
      "around": false
    };

    var x = 0;
    var y = 0;

    var score = 0;
    var cherries = 0;
    var direction = 0;

    function displayWorld(){
      var output = "";

      for(var i = 0; i < world.length; i++){
        output += "\n<div class='row'>\n"
        for(var j = 0; j < world[i].length; j++){
          if(world[i][j] == 2){
            output += "<div class='brick'></div>"
          }
          else if(world[i][j] == 1){
            output += "<div class='coin'></div>"
          }
          else if(world[i][j] == 0){
            output += "<div class='empty'></div>"
          }
          else if(world[i][j] == 3){
            output += "<div class='strawberry'></div>"
          }
        }
        output += "\n</div>"
      }
      document.getElementById('world').innerHTML = output;
    }
    function displayPacman(){
      document.getElementById("pacman").style.top = (pacman.y*20)+80+"px";
      document.getElementById("pacman").style.left = (pacman.x*20)+10+"px";
    }
    function displayGhost(){
      document.getElementById("ghost").style.top = ((ghost.y*20)+80)+"px";
      document.getElementById("ghost").style.left = ((ghost.x*20)+10)+"px";
    }

    function displayScore(){
      document.getElementById("score").innerHTML = score;
    }

    displayWorld();
    displayPacman();
    displayScore();

    function startGhostMove(){
      setInterval(ghostMove(), 300)
    }
    function ghostMove(){
      direction = Math.trunc(Math.random()*4);
      if(direction == 0 && (world[ghost.y + 1][ghost.x] !== 2)) {
        ghost.y++;
      }
      if(direction == 1 && (world[ghost.y - 1][ghost.x] !== 2)) {
        ghost.y--;
      }
      if(direction == 2 && (world[ghost.y][ghost.x + 1] !== 2)) {
        ghost.x++;
      }
      if(direction == 3 && (world[ghost.y][ghost.x - 1] !== 2)) {
        ghost.x--;
      }
      document.getElementById("ghost").style.backgroundRepeat = "no-repeat";
      document.getElementById("ghost").style.backgroundSize = "cover";
      document.getElementById("ghost").style.backgroundPosition = "center";
    }

    document.onkeydown = function(e){
      if(e.keyCode == 37 && (world[pacman.y][pacman.x - 1] !== 2)){
        pacman.x--;
        document.getElementById("pacman").style.background = "url('pacman_left.gif')";

      }
      if(e.keyCode == 39 && (world[pacman.y][pacman.x + 1] !== 2)){
        pacman.x++;
        document.getElementById("pacman").style.background = "url('pacman_right.gif')";

      }
      if(e.keyCode == 38 && (world[pacman.y - 1][pacman.x] !== 2)){
        pacman.y--;
        document.getElementById("pacman").style.background = "url('pacman_up.gif')";

      }
      if(e.keyCode == 40 && (world[pacman.y + 1][pacman.x] !== 2)){
        pacman.y++;
        document.getElementById("pacman").style.background = "url('pacman_down.gif')";

      }
      document.getElementById("pacman").style.backgroundRepeat = "no-repeat";
      document.getElementById("pacman").style.backgroundSize = "cover";
      document.getElementById("pacman").style.backgroundPosition = "center";

      if (ghost.around == true) {
        startGhostMove()
      }

      cherries = Math.trunc(Math.random()*30);
      if (cherries == 15) {
        x = Math.trunc(Math.random()*29);
        y = Math.trunc(Math.random()*17);
        if (world[y][x] != 2) {
          world[y][x] = 3;
          displayWorld();
        }
      }

      if(score > 150 && ghost.around == false) {
        x = Math.trunc(Math.random()*20);
        y = Math.trunc(Math.random()*13);
        if (world[y][x] != 2) {
          world[y][x] = 0;
          ghost.x = x;
          ghost.y = y
          ghost.around = true;
          document.getElementById("ghost").style.display = "block";
          startGhostMove()
          displayWorld();
          displayGhost();
        }
      }
      if(pacman.y == ghost.y && pacman.x == ghost.x){
        document.getElementById("pacman").style.display = "none";
        displayWorld();
        alert("You lose! Score: " + score);
      }

      if(world[pacman.y][pacman.x] == 1){
        world[pacman.y][pacman.x] = 0;
        score += 10;
        displayWorld();
        displayScore();
      }
      if(world[pacman.y][pacman.x] == 3){
        world[pacman.y][pacman.x] = 0;
        score += 50;
        displayWorld();
        displayScore();
      }
      displayGhost();
      displayPacman();
    }

    </script>

  </body>
</html>
