h1 {
  text-align: center;
  text-decoration: underline;
}

#board{
  border: 2px solid black;
  width: 90%;
  margin: 0 auto;
  overflow: scroll;
  height: 20em;
}

.bold {
  font-weight: bold;
}

#name {
  display: inline-block;
  vertical-align: top;
  width: 15%;
}
#messages {
  display: inline-block;
  vertical-align: top;
  width: 80%;
}
#message {
  width: 90%;
  margin: 0 auto;
}
