<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ERROR</title>
  </head>
  <body>
    <h1>ERRORS</h1>
    <% for (var x in errors) { %>
      <p><%=errors[x]%></p>
    <% } %>
  </body>
</html>
